Proy_Prueba/Service References/ServiceBata/ws_bata1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ws_envio_xml_desarrollo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_archivo_xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_envio_xml_desarrolloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_envio_xml_desarrolloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_envio_xml_tropi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_archivo_xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_envio_xml_tropiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_envio_xml_tropiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_envio_xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_archivo_xml" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_envio_xmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_envio_xmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_control_error">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_archivo" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_cod_tda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_nom_archivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_control_errorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_control_errorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_genera_pdf_bytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_serie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_num_ini" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_num_fin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_genera_pdf_bytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_genera_pdf_bytesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_envio_xml_desarrolloSoapIn">
    <wsdl:part name="parameters" element="tns:ws_envio_xml_desarrollo" />
  </wsdl:message>
  <wsdl:message name="ws_envio_xml_desarrolloSoapOut">
    <wsdl:part name="parameters" element="tns:ws_envio_xml_desarrolloResponse" />
  </wsdl:message>
  <wsdl:message name="ws_envio_xml_tropiSoapIn">
    <wsdl:part name="parameters" element="tns:ws_envio_xml_tropi" />
  </wsdl:message>
  <wsdl:message name="ws_envio_xml_tropiSoapOut">
    <wsdl:part name="parameters" element="tns:ws_envio_xml_tropiResponse" />
  </wsdl:message>
  <wsdl:message name="ws_envio_xmlSoapIn">
    <wsdl:part name="parameters" element="tns:ws_envio_xml" />
  </wsdl:message>
  <wsdl:message name="ws_envio_xmlSoapOut">
    <wsdl:part name="parameters" element="tns:ws_envio_xmlResponse" />
  </wsdl:message>
  <wsdl:message name="ws_control_errorSoapIn">
    <wsdl:part name="parameters" element="tns:ws_control_error" />
  </wsdl:message>
  <wsdl:message name="ws_control_errorSoapOut">
    <wsdl:part name="parameters" element="tns:ws_control_errorResponse" />
  </wsdl:message>
  <wsdl:message name="ws_genera_pdf_bytesSoapIn">
    <wsdl:part name="parameters" element="tns:ws_genera_pdf_bytes" />
  </wsdl:message>
  <wsdl:message name="ws_genera_pdf_bytesSoapOut">
    <wsdl:part name="parameters" element="tns:ws_genera_pdf_bytesResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_bataSoap">
    <wsdl:operation name="ws_envio_xml_desarrollo">
      <wsdl:input message="tns:ws_envio_xml_desarrolloSoapIn" />
      <wsdl:output message="tns:ws_envio_xml_desarrolloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml_tropi">
      <wsdl:input message="tns:ws_envio_xml_tropiSoapIn" />
      <wsdl:output message="tns:ws_envio_xml_tropiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml">
      <wsdl:input message="tns:ws_envio_xmlSoapIn" />
      <wsdl:output message="tns:ws_envio_xmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_control_error">
      <wsdl:input message="tns:ws_control_errorSoapIn" />
      <wsdl:output message="tns:ws_control_errorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ws_genera_pdf_bytes">
      <wsdl:input message="tns:ws_genera_pdf_bytesSoapIn" />
      <wsdl:output message="tns:ws_genera_pdf_bytesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_bataSoap" type="tns:ws_bataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_envio_xml_desarrollo">
      <soap:operation soapAction="http://tempuri.org/ws_envio_xml_desarrollo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml_tropi">
      <soap:operation soapAction="http://tempuri.org/ws_envio_xml_tropi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml">
      <soap:operation soapAction="http://tempuri.org/ws_envio_xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_control_error">
      <soap:operation soapAction="http://tempuri.org/ws_control_error" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_pdf_bytes">
      <soap:operation soapAction="http://tempuri.org/ws_genera_pdf_bytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_bataSoap12" type="tns:ws_bataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_envio_xml_desarrollo">
      <soap12:operation soapAction="http://tempuri.org/ws_envio_xml_desarrollo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml_tropi">
      <soap12:operation soapAction="http://tempuri.org/ws_envio_xml_tropi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_envio_xml">
      <soap12:operation soapAction="http://tempuri.org/ws_envio_xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_control_error">
      <soap12:operation soapAction="http://tempuri.org/ws_control_error" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ws_genera_pdf_bytes">
      <soap12:operation soapAction="http://tempuri.org/ws_genera_pdf_bytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_bata">
    <wsdl:port name="ws_bataSoap" binding="tns:ws_bataSoap">
      <soap:address location="http://posperu.bgr.pe/web_site_electronica/ws_bata.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_bataSoap12" binding="tns:ws_bataSoap12">
      <soap12:address location="http://posperu.bgr.pe/web_site_electronica/ws_bata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>